/*TODO: 1. Find cool Google Fonts and link to them;
2. Make sure &copy is actually in a footer
3. Give the About App section specific styling with unique background color etc.;
4. Add an About Me section with show/hide jquery and styling;
5. Make form better looking;
*/

body {
  color: #E56A00;
  background-image: url("../assets/bicycle-1390216762h5N.jpg");
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
}
