/*TODO: 1. Find cool Google Fonts and link to them;
2. Make sure &copy is actually in a footer
3. Give the About App section specific styling with unique background color etc.;
4. Add an About Me section with show/hide jquery and styling;
5. Make form better looking;
*/

body {
  color: #E56A00;
  background-image: url("../assets/bicycle-1390216762h5N.jpg");
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2em;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.layer {
  background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
