h1 {
  color: #E56A00;
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
}

h3 {
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  font-size: 2em;
}

.about_app {
  width: 95%;
  height: 10%;
  border-radius: 50%;
  background-color: rgba(14, 118, 180, .5);
  padding: 5%;
  color: #EF3900;
  text-align: center;
}
