html {
  text-align: left;
}

/**
* you have text-align: center on a number of elements. When you have
* the same rule in a number of places like that you could list them all
* at once. So something like:
* h1, h2, header, .about_app, .bike-station-list {}
* which would allow you to factor that out of the other rules
*/

h1 {
  text-align: center;
  color: #E56A00;
  font-family: 'Paytone One', sans-serif;
  font-size: 2.5em;
}

h2 {
  text-align: center;
}

h3 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2em;
}

header {
  text-align: center;
}

span.bold {
  font-weight: bold;
  font-size: 1.25em;
  color: rgba(255,175,75,1);
}

.about_app, .bike-station-list{
  width: 95%;
  height: 10%;
  border-radius: 50%;
  background-color: rgba(14, 118, 180, .5);
  padding: 5%;
  color: #EF3900;
  text-align: center;
}
