#map {
  height: 400px;
  width: 100%;
}
#floating-panel {
  background: rgba(255,175,75,1);
  background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,65,0,0.91) 45%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(45%, rgba(255,65,0,0.91)));
  background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,65,0,0.91) 45%);
  background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,65,0,0.91) 45%);
  background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,65,0,0.91) 45%);
  background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,65,0,0.91) 45%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff4100', GradientType=1 );
  margin: auto;
  position: relative;
  width: 85%;
  height: 10%;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
  margin-bottom: 10px;
}

.main-nav {
  position: relative;
  overflow: auto;
  width: 100%;
}

.icon-menu {
  float: right;
  display: block;
  font-size: 3em;
}

.main-nav ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav ul li {
  /*display: inline;*/
  display: block;
  padding-right: 3em;
}

li.tab-home {
 background: rgba(255,175,75,1);
 border-radius: 50%;
 max-width: 20%;
 max-height: 15%;
}

li.tab-resume {
  background: rgba(255,175,75,1);
  border-radius: 50%;
  max-width: 20%;
  max-height: 15%;
}


@media only screen and (min-width: 960px) {
  nav {
    height: 4em;
    width: 100%;
  }

  .icon-menu {
    display: none;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
  }
}

li.tab-home {
 background: rgba(255,175,75,1);
 border-radius: 50%;
}

li.tab-resume {
  background: rgba(255,175,75,1);
  border-radius: 50%;
}
